{% extends 'resume/base.html' %}
{% load static %}


{% block title %}
Связь со мной
{% endblock %}

{% block content %}
<div class="pricing-header p-5 pb-md-4 mx-auto text-center jumbotron">
    <p class="fs-1">
    Связь со мной
    </p><br><br>
    <p class="fs-3">
    <a href="tel:+79508829476"><i class="fa fa-phone-square" ></i> Мобильный телефон: +7(950)882-94-76</a>
    <br><br>
    <a href="mailto:prom@tgv73.ru"><i class="fa fa-envelope"></i> Почта#1 : prom@tgv73.ru</a>  <br><br>
    <a href="mailto:maxworking73@yandex.ru"><i class="fa fa-envelope" aria-hidden="true"></i> Почта#2 : maxworking73@yandex.ru</a>  <br><br>
    <a href="https://vk.com/M.Barov"><i class="fab fa-vk" aria-hidden="true"></i> M.Barov</a> <br><br>
    <a href="https://instagram.com/mbarov"><i class="fab fa-instagram" aria-hidden="true"></i>  MBarov</a>  
    </p>
</div>
{% endblock %}