{% extends 'resume/base.html' %}
{% load static %}

{% block title %}
Мое обучение
{% endblock %}

{% block content %}

<div class="jumbotron">
<div class="row pt-1 mx-auto text-center">
    <p class="fs-2">
        Где и чему я учился
    </p>
</div>
<div class="row pt-5 mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/sql.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Уроки SQL
        </p>
        <p class="fs-5 text-justify">
            Основы языка SQL.
            Курс от ITProger</p>
            <br><br><p class="fs-5 "><a href="https://itproger.com/course/sql">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/Udemy.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Python в веб с нуля до создания приложений. Python + Django
        </p>
        <p class="fs-5 text-justify">
            Изучение web-разработки. Рассмотрены следующие разделы: python, html, css, django
            Курс от Udemy</p>
            <br><br><p class="fs-5 "><a href="https://www.udemy.com/course/python-pythondjango/">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/bs.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Уроки Bootstrap4
        </p>
        <p class="fs-5 text-justify">
            Создание адаптивного веб сайта.
            Курс от ITProger</p>
            <br><br><p class="fs-5 "><a href="https://itproger.com/course/bootstrap-4">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/django.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Уроки Django
        </p>
        <p class="fs-5 text-justify">
            Уроки Django (Создание сайта).
            Курс от ITProger</p>
            <br><br><p class="fs-5 "><a href="https://itproger.com/course/django">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/html-css.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Создание сайта на HTML
        </p>
        <p class="fs-5 text-justify">
            Верстка сайта на HTML5 и CSS3.
            Курс от ITProger</p>
            <br><br><p class="fs-5 "><a href="https://itproger.com/course/css3-html5">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/css.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Уроки CSS
        </p>
        <p class="fs-5 text-justify">
            Изучение CSS для новичков.
            Курс от ITProger</p>
            <br><br><p class="fs-5 "><a href="https://itproger.com/course/css">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/html.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Уроки HTML5
        </p>
        <p class="fs-5 text-justify">
            HTML5 для начинающих.
            Курс от ITProger</p>
            <br><br><p class="fs-5 "><a href="https://itproger.com/course/html">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row  mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/hse.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Основы программирования на Python
        </p>
        <p class="fs-5 text-justify">
            Изучение языка Python.
            Курс от Высшей школы экономики</p>
            <br><br><p class="fs-5 "><a href="https://ru.coursera.org/learn/python-osnovy-programmirovaniya">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row  mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/stepik.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Программирование на Python
        </p>
        <p class="fs-5 text-justify">
            Знакомство с языком Python. Мой самый первый курс по Python
            Курс от Stepik</p>
            <br><br> <p class="fs-5 "><a href="https://stepik.org/course/67/promo">Ссылка на сайт</a></p>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>
<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/deutsch.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Школа немецкого языка Инны Левенчук
        </p>
        <p class="fs-5">
            Школа изучения немецкого языка<br>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/ulstu.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            УлГТУ
        </p>
        <p class="fs-5 text-justify">
            Строительный факультет Ульяновского Государственного Технического Университета.
            Кафедра теплогазоснабжения и вентиляции
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>

<div class="row mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/teaching/licey.jpg' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Физико-математический лицей при УлГТУ
        </p>
        <p class="fs-5 text-justify">
            Физико-математический лицей при УлГТУ. 
            Группа с углубленным изучением английского языка.
        </p>
    </div>
</div>
</div>

{% endblock %}