{% extends 'resume/base.html' %}
{% load static %}

{% block title %}
Образцы моих работ
{% endblock %}

{% block content %}
<div class="jumbotron">
<div class="row pt-2 mx-auto text-center">
    <p class="fs-2">
        Образцы моих работ
    </p>
</div>

<div class="row pricing-header pt-5 mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/Weather now.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Погодное приложение
        </p>
        <p class="fs-5 text-justify">
            Приложение позволяет узнать погоду в любом городе мира.
            Приложение создано в рамках курса по изучению Django.<br>
            Создано с использованием:
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">               
                    Python<br>
                    Django<br>
                    CSS<br>
                    HTML<br>
                    Bootstrap
                </div>
                <div class="col-2">
                </div> 
            </div>
            <br>
        <span class="fs-5 "><a href="">Ссылка на сайт</a></span>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>
<div class="row pricing-header mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/SHop.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Магазин игрушек
        </p>
        <p class="fs-5 text-justify">
            Интернет-магазин игрушек с функциями регистрации, корзины, добавления товаров и оплаты.
            Приложение создано в рамках курса по изучению Django. <br>
            Создано с использованием: 
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">               
                    Python<br>
                    Django<br>
                    CSS<br>
                    HTML<br>
                    Bootstrap
                </div>
                <div class="col-2">
                </div> 
            </div>
            </p>
            <span class="fs-5 ">
                <a href="">Ссылка на сайт</a>
            </span>
    </div>
    <hr class='my-4'><br><br>
</div>
<div class="row pricing-header mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/News.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Сайт новостей (блог)
        </p>
        <p class="fs-5 text-justify">
            Приложение позволяет добавлять, редактировать, удалять новости.
            Создано с использованием: 
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">               
                    Python<br>
                    Django<br>
                    CSS<br>
                    HTML<br>
                </div>
                <div class="col-2">
                </div> 
            </div>           
            <br>
            <span class="fs-5 "><a href="">Ссылка на сайт</a></span>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>
<div class="row pricing-header mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/SStest.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Приложение-тестирование
        </p>
        <p class="fs-5 text-justify">
            Приложение позволяет провести тестирование на знание языка Python.
            Приложение создано в рамках тестового задания на летний интенсив в Simbirsoft.<br>
            Создано с использованием:
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">               
                    Python<br>
                    Django<br>
                    CSS<br>
                    HTML<br>
                </div>
                <div class="col-2">
                </div> 
            </div>            
            <span class="fs-5 ">
                <a href="https://simbirsoft-test.herokuapp.com/">Ссылка на сайт</a>
            </span>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>
<div class="row pricing-header mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/VV.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Приложение - зеркало
        </p>
        <p class="fs-5 text-justify">
            Приложение позволяет отзеркалить введенное слово.
            Приложение создано в рамках курса по изучению Django.<br>
            Создано с использованием:
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">               
                    Python<br>
                    Django<br>
                </div>
                <div class="col-2">
                </div> 
            </div>            
            <br>
            <span class="fs-5 ">
                <a href="">Ссылка на сайт</a>
            </span>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>
<div class="row pricing-header mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/Task manager.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Менеджер задач (блокнот)
        </p>
        <p class="fs-5 text-justify">
            Приложение позволяет вести записи, подобные блокноту.
            Приложение создано в рамках курса по изучению Django.<br>
            Создано с использованием:
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">               
                    Python<br>
                    Django<br>
                </div>
                <div class="col-2">
                </div> 
            </div>            
            <br><span class="fs-5 "><a href="">Ссылка на сайт</a></span>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>
<div class="row pricing-header mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/Bootstrap.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Одностраничный сайт
        </p>
        <p class="fs-5 text-justify">
            Одностраничный сайт.
            Сайт создан в рамках курса по изучению Bootstrap.
            Создано с использованием:
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">               
                    CSS<br>
                    HTML<br>
                    Bootstrap
                </div>
                <div class="col-2">
                </div> 
            </div>            
            <br>
            <span class="fs-5 ">
                <a href="">Ссылка на сайт</a>
            </span>
        </p>
    </div>
    <hr class='my-4'><br><br>
</div>
<div class="row pricing-header mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/1page.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Одностраничный сайт
        </p>
        <p class="fs-5 text-justify">
            Одностраничный сайт.
            Сайт создан в рамках курса по изучению Bootstrap.<br>
            Создано с использованием:
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">        
                    CSS<br>
                    HTML<br>
                    Bootstrap
                </div>
                <div class="col-2">
                </div> 
            </div>            
            <br>
            <span class="fs-5 ">
                <a href="">Ссылка на сайт</a>
            </span>
        </p>
    </div>
        <hr class='my-4'><br><br>
</div>

<div class="row pricing-header mx-auto text-center">
    <div class="col-md-12 col-lg-8">
        <img class='border border-secondary' id='image2' src="{% static 'elements/img/samples/1page.png' %}" alt="">
    </div>
    <div class="col-md-12 col-lg-4">
        <p class="fs-4 ">
            Одностраничный сайт на Flask.
        </p>
        <p class="fs-5 text-justify">
            Одностраничный сайт созданный на фреймворке Flask. Опубликован на платформе Heroku
            Сайт создан в рамках курса по изучению Flask.<br>
            Создано с использованием:
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-6 fs-5 text-start">               
                    Python<br>
                    Flask<br>
                    CSS<br>
                    HTML<br>
                </div>
                <div class="col-2">
                </div> 
            </div>            
            <br>
            <span class="fs-5 ">
            <a href="https://firstflaskproject73.herokuapp.com/">Ссылка на сайт</a>
            </span>
            </div>
        </p>
    </div>
        <hr class='my-4'><br><br>
</div>
</div>

{% endblock %}