{% extends 'resume/base.html' %}
{% load static %}

{% block title %}
Мои сертификаты 
{% endblock %}

{% block content %}
<div class="pricing-header p-5 pb-md-4 mx-auto text-center"> 
    <p class="fs-2">
    Мои сертификаты 
    </p>
</div>

<div class=" pricing-header p-5 mx-auto text-center"> 
    <div class="container-fluid">
        <img id='image3' class='border border-secondary' src="{% static 'elements/img/sert/udemy.jpg' %}" alt="">
    </div>

    <hr class='my-4'><br><br>

        <div class="container-fluid">
        <img id='image3' class='border border-secondary' src="{% static 'elements/img/sert/stepik.png' %}" alt="">
    </div>

    <hr class='my-4'><br><br>

        <div class="container-fluid">
        <img id='image3' class='border border-secondary' src="{% static 'elements/img/sert/deutsch.png' %}" alt="">
    </div>  
</div>
{% endblock %}